<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Time In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'site/assetlibs/semantic/semantic.min.css' %}">
    {% block load_css %}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
<script type="text/javascript">
    /*
     * load data here
    */
</script>
<script type="text/javascript" src="{% static 'site/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'site/assetlibs/semantic/semantic.min.js' %}"></script>
{% block scripts %}
{% endblock %}
